


.kotak{
    display: flex;
    flex-direction: row;
}

.satu{
    background-color: grey;
    color: white;
    width: 33.3%;
    height: 100px;
    text-align: center;
}

.dua{
    background-color:white;
    flex-grow: 1;
    height: 100px;
    width: 33.3%;
    text-align: center;
}

.angka{
    padding-top: 40px;
}







